@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Quicksand:wght@700&display=swap');

.nav-link {
    font-family: 'Quicksand', sans-serif;
    color: orange !important;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
 }

 .navbar-brand{
    color: white;
    font-family: 'Quicksand' , sans-serif;
 }

 .list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

.list-inline-item a {
    color: white;
}

 .list-inline-item a:hover {
    color: orange;
    text-decoration: none;
}

.heading h2{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
}


.heading p{
  font-family: 'Montserrat', sans-serif;
  
  color: orange;
  font-size: 25px;
}



.bg-img {
  /* The image used */
  background-image: url("images/slider2.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

.bg-img2 {
  /* The image used */
  background-image: url("images/doodle-1.png");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

i.fa.fa-quote-left {
    margin-left: -15px;
    font-size: 10px;
    display: inline-block;
    color: orange;
    position: absolute;
}

i.fa.fa-quote-right {
        font-size: 10px;
    color: orange;
    display: inline-block;
    margin-left: 7px;
    position: absolute;
}

.not-allowed{
 cursor: not-allowed! important;
    
}

.heading a{
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #355178;
    background-color: white;
    font-family: 'Montserrat' , sans-serif;
}




/*.customCard{
width: 400px;
}
*/
#record{
  color: #355178;
}

#conduct{
  color: orange;
}

#live{
  color: #355178;
}

.querySession h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #355178;
  font-weight: 700;
}







/*ALL MEDIA QUERIES HERE*/

/*PHONE STARTS*/

@media (max-width: 576px) { 

.nav-link {
     font-size: 15px;
}


.heading h2 {
      font-size: 22px;
  }

.heading p {
    font-size: 17px;
}

.heading a {
       font-size: 18px;
    }

.bg-img{
background-image: url("images/mobile.png") !important;
}

.bg-img2{
background-image: url("images/mobile-doodle.png") !important;
}

.slider {
  display: none;
}

.querySession h5 {
    font-size: 20px;
    font-weight: 700;
}


.laptopicon img{
  width: 100%;
}

.assignment img {
  width: 100%;
}

 }


/*PHONE END*/


/*TABLET STARTS*/


@media (min-width: 768px ) { 

.slider {
  display: none;
}

.card-title{
  font-size: 1rem;
}

.card-text{
  font-size: 0.8rem;
  font-weight: 500;
}

.querySession h5 {
    font-size: 25px;
    font-weight: 700;
}


.laptopicon img{
  width: 100%;
}

.assignment img {
  width: 100%;
  margin-left: -30px;
 }

.assignment h5 {
    margin-left: -40px;
}


 }


 @media (min-width: 900px )
 {
  .laptopicon h5 {
    padding-top: 50px !important;
}

.assignment h5 {
    padding-top: 40px !important;
    padding-right: 50px;
}
 }

/* TABLET ENDS*/

@media (min-width: 1200px) { 

.laptopicon img{
  width: 100%;
}

.assignment img{
  width: 100%;
}

.laptopicon h5 {
    padding-top: 100px !important;
    margin-left: 90px;
}

.assignment h5 {
    padding-top: 120px !important;
    padding-right: 130px;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 700;
}

.card-text {
    font-size: 1.3rem;
    /* font-weight: 500; */
}



}


/*ALL MEDIA QUERIES END HERE*/