@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Quicksand:wght@700&display=swap');

.nav-link {
    font-family: 'Quicksand', sans-serif;
    color: orange !important;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
 }

 .navbar-brand{
    color: white;
    font-family: 'Quicksand' , sans-serif;
 }

 .list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

.list-inline-item a {
    color: white;
}

 .list-inline-item a:hover {
    color: orange;
    text-decoration: none;
}

.heading h2{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
}


.heading p{
  font-family: 'Montserrat', sans-serif;
  
  color: orange;
  font-size: 25px;
}



.bg-img {
  /* The image used */
  background-image: url("images/slider2.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

.bg-img2 {
  /* The image used */
  background-image: url("images/doodle-1.png");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

i.fa.fa-quote-left {
    margin-left: -15px;
    font-size: 10px;
    display: inline-block;
    color: orange;
    position: absolute;
}

i.fa.fa-quote-right {
        font-size: 10px;
    color: orange;
    display: inline-block;
    margin-left: 7px;
    position: absolute;
}

.not-allowed{
 cursor: not-allowed! important;
    
}

.heading a{
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #355178;
    background-color: white;
    font-family: 'Montserrat' , sans-serif;
}


#record{
  color: #355178;
}

#conduct{
  color: orange;
}

#live{
  color: #355178;
}

.querySession h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #355178;
  font-weight: 700;
}

.querySessionMobile h5{
  font-family: 'Montserrat', sans-serif;
  color: #355178;
  font-weight: 700;
}

.e-fee{
  background-color: #355178;
  font-family: 'Montserrat', sans-serif;
}

.e-fee img{
  width: 100%;
  height: auto;
 }

.e-fee h5{
  margin-top: 6%;
    color: white;
    font-size: 30px;
    padding: 10px 5px 10px 20px;
}

.e-fee .btn
{
    color: white;
    background-color: orange;
    border-radius: 20px;
    margin-left: 3%;

}

.e-fee .btn:hover 
{    
  color: white;
  background-color: #355178;
  border: 1px white solid;
}

.team img{
  width: 100%;
}

.team h5{
    padding: 10px 10px 0px 10px;
    color: #355178;
    font-size: 20px;
    margin-top: 95%;
    font-weight: 800;
  }

 .team .h2{
  padding-left: 0px;
 } 

.team .btn {
    background-color: #355178;
    color: white;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.team .btn:hover 
{    
  color: white;
  background-color: orange;
  border: 1px white solid;
}

.blogs h5{
    padding: 10px 10px 10px 10px;
    font-size: 5rem;
    letter-spacing: 16px;
    font-weight: 800;
    color: #335781;
}

#blog1 h5{
  color: white;
  text-decoration: underline;
  font-weight: 600;
  font-size: 2rem;
}

#blog1{
  background-color: #335178;
  color: white;
}

#blog1 p{
  padding: 10px 10px 10px 10px;
}

footer {
    background-color: #335781;
}

footer h6{
  color: orange;
}

footer p {
    font-weight: 600;
    color: white;
}

.footer-copyright{
  color: white;
  font-weight: 600;
  font-size: 20px;
}

/*CSS FOR CARDS STARTS*/

    .nn {
     color: red;
}
.card {
    
    text-align:center;
     background-color: #f7f8fa;
     box-shadow: 0px 0px 10px 5px  #bac7db;

   }

.card-title {
     color: #17a2b8;
}
.card-img-top{
     width:60%;
 margin-left: auto;
  margin-right: auto;
     
}
.card:hover {
     animation-name: anim;
     animation-duration: 500ms;
     animation-fill-mode: forwards;
}
@keyframes anim {
     50% {
          transform: scale(1.08);
       
     }
     100% {
          transform: scale(1);
     }
}


.carousel-controls{
 position:relative; 
  width:300px;
  margin:0 auto;
}

.carousel-indicators{
   top:0px; 
}

/*CSS FOR CARDS ENDS*/




/*ALL MEDIA QUERIES HERE*/

/*PHONE STARTS*/

@media (max-width: 576px) { 

.nav-link {
     font-size: 15px;
}


.heading h2 {
      font-size: 22px;
  }

.heading p {
    font-size: 17px;
}

.heading a {
       font-size: 18px;
    }

.bg-img{
background-image: url("images/mobile.png") !important;
}

.bg-img2{
background-image: url("images/mobile-doodle.png") !important;
}

.slider {
  display: none;
}

.querySession h5 {
    font-size: 20px;
    font-weight: 700;
}

.querySession{
  display: none;
}

.querySessionMobile h5 {
    font-size: 20px;
    font-weight: 700;
}

.querySessionMobile{
  display: block !important;
}

.laptopicon img{
  width: 100%;
}

.assignment img {
  width: 100%;
}

.e-fee h5{
  margin-top: 0%;
  font-size: 20px;
  margin-left: 30px;
}

.e-fee .btn{
font-size: 13px;
margin-left: 40px;
}

.team h5{
  margin-top: 5%;
  font-size: 13px;
}

.team .btn {
    font-size: 0.6rem;
    font-weight: 800;
}

footer p
   {
    padding: 5px 25px 5px 25px;
    }

.blogs h5 {
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 10px;
    }


 }


/*PHONE END*/


/*TABLET STARTS*/


@media (min-width: 768px ) { 

.slider {
  display: none;
}

.card-title{
  font-size: 1rem;
}

.card-text{
  font-size: 0.8rem;
  font-weight: 500;
}

.querySession h5 {
    font-size: 25px;
    font-weight: 700;
}

.laptopicon img{
  width: 100%;
}

.assignment img {
  width: 100%;
  margin-left: -30px;
 }

.assignment h5 {
    margin-left: -40px;
}

.e-fee h5{
  font-size: 25px;
  margin-top: 20% !important;
 }

.team h5 {
    padding: 5px;
    font-size: 15px;
    margin-top: 80%;
  }

  #btn-single{
    margin-bottom: 10px;
  }

  .blogs h5 {
    font-size: 3rem;
    letter-spacing: 10px;
 }


 }


 @media (min-width: 900px )
 {
  .laptopicon h5 {
    padding-top: 50px !important;
}

.assignment h5 {
    padding-top: 40px !important;
    padding-right: 50px;
}


 }

/* TABLET ENDS*/

@media (min-width: 1200px) { 

.laptopicon img{
  width: 100%;
}

.assignment img{
  width: 100%;
}

.laptopicon h5 {
    padding-top: 100px !important;
    margin-left: 90px;
}

.assignment h5 {
    padding-top: 120px !important;
    padding-right: 130px;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 700;
}

.card-text {
    font-size: 1.3rem;
    /* font-weight: 500; */
}

.e-fee h5 {
    font-size: 2.5rem;
    padding-left: 0px;
 }

.e-fee .btn{
  font-size: 1.5rem;
  margin-left: 0%;
} 

.team h5{
    margin-top: 95%;
    font-size: 20px;
   }

 #btn-single{
    margin-bottom: 0px;
  }  

}


/*ALL MEDIA QUERIES END HERE*/