@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Quicksand:wght@700&display=swap");

.nav-link {
  font-family: "Quicksand", sans-serif;
  color: orange !important;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white !important;
}

.navbar-brand {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

.list-inline-item a {
  color: white;
}

.list-inline-item a:hover {
  color: orange;
  text-decoration: none;
}

.heading h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.heading p {
  font-family: "Montserrat", sans-serif;
  color: orange;
  font-size: 25px;
  font-weight: 700;
}

.bg-img {
  /* The image used */
  background-image: url("images/slider2.jpg");

  min-height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.bg-img2 {
  /* The image used */
  background-image: url("images/doodle-1.png");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

i.fa.fa-quote-left {
  margin-left: -30px;
  font-size: 20px;
  display: inline-block;
  color: orange;
  position: absolute;
}

i.fa.fa-quote-right {
  font-size: 20px;
  color: orange;
  display: inline-block;
  margin-left: 6px;
  position: absolute;
}

.not-allowed {
  cursor: not-allowed !important;
}

.heading a {
  border-radius: 20px;
  font-size: 25px;
  font-weight: 600;
  color: orange;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

#record {
  color: #355178;
}

#conduct {
  color: orange;
}

#live {
  color: #355178;
}

.querySession h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #355178;
  font-weight: 700;
}

.querySessionMobile h5 {
  font-family: "Montserrat", sans-serif;
  color: #355178;
  font-weight: 700;
}

.e-fee {
  background-color: #355178;
  font-family: "Montserrat", sans-serif;
}

.container-margin{
  margin-left: -15px;
  margin-right: -15px;
}

.e-fee img {
  width: 100%;
  height: auto;
}

.e-fee h5 {
  margin-top: 6%;
  color: white;
  font-size: 30px;
  padding: 10px 5px 10px 20px;
}

.e-fee .btn {
  color: white;
  background-color: orange;
  border-radius: 20px;
  margin-left: 3%;
}

.e-fee .btn:hover {
  color: white;
  background-color: #355178;
  border: 1px white solid;
}

.team img {
  width: 100%;
}

.team h5 {
  padding: 10px 10px 0px 10px;
  color: #355178;
  font-size: 20px;
  margin-top: 95%;
  font-weight: 800;
}

.team .h2 {
  padding-left: 0px;
}

.team .btn {
  background-color: #355178;
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  margin: 10px;
}

.team .btn:hover {
  color: white;
  background-color: orange;
  border: 1px white solid;
}


#heading{
  font-size: 40px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #335781;

}

footer {
  background-color: #335781;
}

footer h6 {
  color: orange;
}

footer p {
  font-weight: 600;
  color: white;
}

.footer-copyright {
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: orange;
  font-family: "Quicksand", sans-serif;
}

/*CSS FOR CARDS STARTS*/

.card-deck .card:hover {
  animation-name: anim;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes anim {
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.features .card {
  border-radius: 20px !important;
  transition: 0.8s;
  border: none;
   font-family: "Montserrat", sans-serif;
}


.price-cards .card{
  background-color: #335781;
  color: white;
  font-family: "Montserrat", sans-serif;
}


.price-cards .card h5{
  font-size: 20px;
}

.price-cards .card p{
  font-size: 15px;
  padding: 5px 10px 5px 10px;
}

.card-header .testimonail img {
  border: 5px solid white !important;
}

.testimonail .outside {
  position: inherit;
  top: -50%;
}


.testimonail .card {
  transition: 0.8s;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}


.testimonail .card-header {
  border-radius: 20px !important;
}

.testimonail .bold {
  font-weight: 500;
}

.testimonail .fa {
  color: rgb(174, 178, 219);
  cursor: pointer;
   font-size: 20px;
}

i.fa.fa-chevron-left {
    font-size: 30px;
}

i.fa.fa-chevron-right {
    font-size: 30px;
}

.testimonail .container-fluid:hover .card:not(:hover) {
  transform: scale(0.9);
}

.blogs .card {
  color: white;
  background-color: orange;
}

/*CSS FOR CARDS ENDS

/*FORM CSS STARTS*/

form {
  background-color: #335781;
  padding: 10px 40px 10px 40px;
  font-family: "Quicksand", sans-serif;
}

form label {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.form-row .btn {
  background-color: orange;
  color: white;
  border-radius: 20px;
  font-weight: 500;
  font-size: 2rem;
}

.form-row .btn:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid white;
}

/*FORM CSS ENDS*/

/*ALL MEDIA QUERIES HERE*/

/*PHONE STARTS*/

@media (max-width: 576px) {

  .nav-link {
    font-size: 15px;
  }

  .heading h2 {
    font-size: 29px;
  }

  .heading p {
    font-size: 15px;
    padding: 0px 20px 0px 20px;
  }

  .heading a {
    font-size: 18px;
  }

  .bg-img {
    background-image: url("images/mobile.png") !important;
    min-height: -webkit-fill-available;
  }

  .bg-img2 {
    background-image: url("images/mobile-doodle.png") !important;
  }

  i.fa.fa-quote-left {
  font-size: 10px;
  margin-left: -15px;
}

i.fa.fa-quote-right {
  font-size: 10px;
  margin-left: 3px;
}

  .slider {
    display: none;
  }

  .querySession h5 {
    font-size: 20px;
    font-weight: 700;
  }

  .querySession {
    display: none;
  }

  .querySessionMobile h5 {
    font-size: 20px;
    font-weight: 700;
  }

  .querySessionMobile {
    display: block !important;
  }

  .laptopicon img {
    width: 100%;
  }

  .assignment img {
    width: 100%;
  }

  .e-fee h5 {
    margin-top: 0%;
    font-size: 20px;
    margin-left: 30px;
  }

  .e-fee .btn {
    font-size: 13px;
    margin-left: 40px;
  }



  .team h5 {
    margin-top: 5%;
    font-size: 13px;
  }

  .team .btn {
    font-size: 0.6rem;
    font-weight: 800;
  }

  footer p {
    padding: 5px 25px 5px 25px;
  }


  .form-row .btn {
    border-radius: 13px;
    font-size: 1rem;
}

}

/*PHONE END*/

/*TABLET STARTS*/

@media (min-width: 768px) {
  
  .bg-img{
    min-height: 600px;
  }  
   .heading h2{
    font-size: 40px; 
   } 

  .heading p {
    font-size: 20px;
  } 

i.fa.fa-quote-right{
  font-size: 15px;
}

i.fa.fa-quote-left{
  font-size: 15px;
}

  .slider {
    display: none;
  }

  .card-title {
    font-size: 1rem;
  }

 .customCard p {
    font-size: 15px;
}

  .laptopicon img 
  {
     width: 100%;
  }

 .laptopicon h5 
 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 25%;
}

  .assignment img {
    width: 100%;
    margin-left: -30px;
  }

  .assignment h5 
  {
    font-weight: 800;
    font-size: 20px;
    margin-top: 25%;
}

  .e-fee h5 {
    font-size: 25px;
    margin-top: 20% !important;
  }

  .team h5 {
    padding: 5px;
    font-size: 15px;
    margin-top: 80%;
  }


form label {
    font-size: 15px;
 }

}

@media (min-width: 900px) {
 .laptopicon h5 {
    padding-top: 35px !important;
    margin-top: 20%;
    padding-left: 0%;
    margin-left: 35%;
}



  .assignment h5 {
    padding-top: 40px !important;
    margin-left: 0%;
    margin-top: 20%;
      }

    .assignment img{
     margin-left: 0px; 
    }  

    .bg-img{
    min-height: 800px;
  } 
}

/* TABLET ENDS*/

/*DESKTOP STARTS*/


@media (min-width: 1200px) {
  
  i.fa.fa-quote-left{
  font-size: 20px;
}

i.fa.fa-quote-right{
  font-size: 20px;
}


  .heading h2{
    font-size: 50px !important;
  }

  .heading p{
    font-size: 20px;
  }

  .laptopicon img {
    width: 100%;
    margin-left: 0%;
  }

  .assignment img {
    width: 100%;
  }

.laptopicon h5 {
    padding-top: 50px !important;
    margin-left: 100px;
    padding-left: 2%;
    font-size: 30px;
}

.assignment h5 {
    padding-top: 86px !important;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 36px;
    text-align: right;
    padding-right: 30%;
}


  .assignment img {
    margin-left: -50px;
}

  .card-title {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1.3rem;
    /* font-weight: 500; */
  }

  .e-fee h5 {
    font-size: 2.5rem;
    padding-left: 0px;
  }

  .e-fee .btn {
    font-size: 1.5rem;
    margin-left: 0%;
  }

  .team h5 {
    margin-top: 90%;
    font-size: 20px;
  }

  #btn-single {
    margin-bottom: 0px;
  }

}

/*DESKTOP ENDS*/


/*ALL MEDIA QUERIES END HERE*/
