@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Quicksand:wght@700&display=swap");



.nav-link {
  font-family: "Quicksand", sans-serif;
  color: orange !important;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white !important;
}

/*.navbar-nav .active{
    color: white;
 }*/

.navbar-brand {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

.list-inline-item a {
  color: white;
}

.list-inline-item a:hover {
  color: orange;
  text-decoration: none;
}

#m-top{
  margin-top: 8%;
}

.heading h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.heading p {
  font-family: "Montserrat", sans-serif;
  color: orange;
  font-size: 25px;
  font-weight: 700;
}

.bg-img {
  /* The image used */
  background-image: url("images/slider2.jpg");

  min-height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.bg-img2 {
  /* The image used */
  background-image: url("images/doodle-1.png");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.bg-img3{
  background-image: url("images/doodle.png");

  min-height: 360px;

    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/*   Needed to position the navbar*/ 
  position: relative;
}


i.fa.fa-quote-left {
  margin-left: -30px;
  font-size: 20px;
  display: inline-block;
  color: orange;
  position: absolute;
}

i.fa.fa-quote-right {
  font-size: 20px;
  color: orange;
  display: inline-block;
  margin-left: 6px;
  position: absolute;
}

.not-allowed {
  cursor: not-allowed !important;
}

.heading a {
  border-radius: 20px;
  font-size: 25px;
  font-weight: 600;
  color: orange;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.slider{
	background-color: #D7DAE0;
}

.slider img{
	width: 200px;
}

.querySession h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #355178;
  font-weight: 700;
}

.querySessionMobile h5 {
  font-family: "Montserrat", sans-serif;
  color: #355178;
  font-weight: 700;
}

.e-fee {
  background-color: #355178;
  font-family: "Montserrat", sans-serif;
}

.container-margin{
  margin-left: -15px;
  margin-right: -15px;
}

.e-fee img {
  width: 90%;
  height: 330px;
}

.e-fee h5 {
  color: white;
  font-size: 30px;
  padding: 10px 5px 10px 20px;
}

.e-fee .btn {
  color: white;
  background-color: orange;
  border-radius: 20px;
  margin-left: 3%;
}

.e-fee .btn:hover {
  color: white;
  background-color: #355178;
  border: 1px white solid;
}

.team img {
  width: 100%;
}

.team h5 {
  padding: 10px 10px 0px 10px;
  color: #355178;
  font-size: 20px;
  margin-top: 95%;
  font-weight: 800;
}

.team .h2 {
  padding-left: 0px;
}

.team .btn {
  background-color: #355178;
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  margin: 10px;
}

.team .btn:hover {
  color: white;
  background-color: orange;
  border: 1px white solid;
}



.blogs h4{
	letter-spacing: 10px;
    font-size: 80px;
    font-weight: 900;
}

footer {
  background-color: #335781;
}

footer h6 {
  color: orange;
}

footer p {
  font-weight: 600;
  color: white;
}

.footer-copyright {
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: orange;
    font-family: "Quicksand", sans-serif;
}

/*CSS FOR CARDS STARTS*/

/*.nn {
  color: red;
}
.card {
  text-align: center;
  background-color: #f7f8fa;
  box-shadow: 0px 0px 10px 5px #bac7db;
}

.card-title {
  color: #17a2b8;
}
.card-img-top {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}*/

.card-deck .card:hover {
  animation-name: anim;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes anim {
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

/*#transform:hover{
  animation-name: anim;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes anim{
  100% {
    transform: scale(1.3);
  }
}*/

.price-cards{
  pointer-events: none;
  margin-top: 7%;

}

.features .card {
  border-radius: 20px !important;
  transition: 0.8s;
  border: none;
   font-family: "Montserrat", sans-serif;
}

.features .card-img-top {
     width: 70%;
}

.features h5{
font-size: 20px;
}

.features p{
font-size: 15px;
padding: 10px;
}

.price-cards .card{
  background-color: #335781;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

#whiteCard{
  color: #335781;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.10);
}

.price-cards .card h5{
font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
}

.price-cards .card p{
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  font-weight: 400;
}

#price-card-button-1{
      color: white;
    background-color: orange;
    border: 1px solid black;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    margin-top: 22.5%;
    margin-left: 12%;
}

#price-card-button-2{
color: #335781;
    background-color: #c9cdd6;
    border: 1px solid black;
    height: 50px;
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    margin-left: 46%;
    margin-top: 24.5%;
}

#price-card-button-3{
    color: white;
    background-color: orange;
    border: 1px solid black;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    margin-left: 80%;
    margin-top: 22.5%;
}



.card-header .testimonail img {
  border: 5px solid white !important;
}

.btn-floating{
      bottom: 100%;
}

.testimonial .outside {
  position: inherit;
  top: -50%;
}

.testimonial{
	background-color: #EAEAEA;
  pointer-events: none;
}

.testimonial .card {
  transition: 0.8s;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}


.testimonial .card-header {
  border-radius: 20px !important;
}

.testimonial .bold {
    font-weight: 500;
    color: #335781;
}

.testimonial .fa {
  color: rgb(174, 178, 219);
  cursor: pointer;
   font-size: 20px;
}

i.fa.fa-chevron-left {
    font-size: 30px;
    color: #335781;
}

i.fa.fa-chevron-right {
    font-size: 30px;
    color: #335781;
}




.testimonial .profile-pic {
  margin-bottom: -5px !important;
}

.testimonial .quotes {
  position: relative;
  top: -10px;
}

.testimonial .quotes-down {
  position: relative;
  top: -4 px;
}


.testimonial .card-footer .fa {
  font-size: 20px !important;
}

.testimonial .name {
  margin-top: -50px !important;
}

.testimonial .container-fluid:hover .card:not(:hover) {
  transform: scale(0.9);
}

.blogs .card {
  color: white;
  background-color: #335781;
}


#heading{
 font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif !important;
    color: black;
}

.features .card {
  background-color: transparent !important;
}

#transform{
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.10);
}

.blogs {
	pointer-events: none;
}

/*CSS FOR CARDS ENDS

/*FORM CSS STARTS*/

form {
  background-color: #335781;
  font-family: "Quicksand", sans-serif;
}

form h4{
	font-size: 30px;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 800;
	color: white;
}

form label {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

form input {
	border-radius: 10px;
}

form .btn {
  background-color: orange;
  color: white;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
}

form .btn:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid white;
}

/*FORM CSS ENDS*/

/*ALL MEDIA QUERIES HERE*/

/*PHONE STARTS*/

@media (max-width: 576px) {

  .nav-link {
    font-size: 15px;
  }

  .heading h2 {
    font-size: 29px;
  }

  .heading p {
    font-size: 15px;
    padding: 0px 20px 0px 20px;
  }

  .heading a {
    font-size: 18px;
  }

  .bg-img {
    background-image: url("images/mobile.png") !important;
    min-height: -webkit-fill-available;
  }

  .bg-img2 {
    background-image: url("images/mobile-doodle.png") !important;
  }

  i.fa.fa-quote-left {
  font-size: 10px;
  margin-left: -15px;
}

i.fa.fa-quote-right {
  font-size: 10px;
  margin-left: 3px;
}


  .querySession h5 {
    font-size: 20px;
    font-weight: 700;
  }

  .querySession {
    display: none;
  }

  .querySessionMobile h5 {
    font-size: 20px;
    font-weight: 700;
  }

  .querySessionMobile {
    display: block !important;
  }

  .laptopicon img {
    width: 100%;
  }

  .assignment img {
    width: 100%;
  }

  .e-fee h5 {
    margin-top: 0%;
    font-size: 20px;
    margin-left: 30px;
  }


  .e-fee .btn {
    font-size: 13px;
    margin-left: 40px;
  }

  .team h5 {
    margin-top: 5%;
    font-size: 13px;
  }

  .team .btn {
    font-size: 0.6rem;
    font-weight: 800;
  }

  footer p {
    padding: 5px 25px 5px 25px;
  }


  .form-row .btn {
    border-radius: 13px;
    font-size: 1rem;
}

#transform{
  transform: none;
}

.label-padding{
	margin-right: 10px;
	margin-left: 10px;
}

form button{
	margin-left: 10px;
}

#price-card-button-1 {
    position: relative;
    margin-left: 0%;
    margin-top: -13%;
    margin-bottom: 5%;
    width: 80%;
}

#price-card-button-2 {
    position: relative;
    margin-left: 0%;
    margin-top: -13%;
    margin-bottom: 5%;
    width: 80%;
}

#price-card-button-3 {
    position: relative;
    margin-left: 0%;
    margin-top: -12%;
    width: 80%;
}

}

/*PHONE END*/

/*TABLET STARTS*/

@media (min-width: 768px) {
  
  .bg-img{
    min-height: 600px;
  }  
   .heading h2{
    font-size: 40px; 
   } 

  .heading p {
    font-size: 20px;
  } 

i.fa.fa-quote-right{
  font-size: 15px;
}

i.fa.fa-quote-left{
  font-size: 15px;
}

  .card-title {
    font-size: 1rem;
  }

 .customCard p {
    font-size: 15px;
}

  .laptopicon img 
  {
     width: 100%;
  }

 .laptopicon h5 
 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 25%;
}

  .assignment img {
    width: 100%;
    margin-left: -30px;
  }

  .assignment h5 
  {
    font-weight: 800;
    font-size: 20px;
    margin-top: 25%;
}

  .e-fee h5 {
    font-size: 25px;
    margin-top: 13% !important;
  }

  .e-fee img {
    width: 100%;
    height: auto;
}

  .team h5 {
    padding: 5px;
    font-size: 15px;
    margin-top: 80%;
  }


form label {
    font-size: 15px;
 }

 #price-card-button-1 {
    margin-top: 38.5%;
    margin-left: 8.5%;
 }

#price-card-button-2 {
     margin-left: 43%;
    margin-top: 42.5%;
 }

#price-card-button-3 {
  margin-left: 78%;
    margin-top: 38.5%;
}

}

@media (min-width: 900px) {
 .laptopicon h5 {
    padding-top: 35px !important;
    margin-top: 20%;
    padding-left: 0%;
    margin-left: 35%;
}



  .assignment h5 {
    padding-top: 40px !important;
    margin-left: 0%;
    margin-top: 20%;
      }

    .assignment img{
     margin-left: 0px; 
    }  

    .bg-img{
    min-height: 800px;
  } 

#price-card-button-1 {
    margin-top: 27%;
    margin-left: 7.5%;
    width: 20%;
}

#price-card-button-2 {
    margin-left: 41.5%;
    margin-top: 29.5%;
    width: 20%;
}

#price-card-button-3 {
    margin-left: 75.5%;
    margin-top: 27.5%;
    width: 20%;
}
  

}

/* TABLET ENDS*/

/*DESKTOP STARTS*/


@media (min-width: 1200px) {
  
  i.fa.fa-quote-left{
  font-size: 20px;
}

i.fa.fa-quote-right{
  font-size: 20px;
}


  .heading h2{
    font-size: 70px !important;
  }

  .heading p{
    font-size: 20px;
  }

  .laptopicon img {
    width: 100%;
    margin-left: 0%;
  }

  .assignment img {
    width: 100%;
  }

.laptopicon h5 {
    padding-top: 50px !important;
    margin-left: 100px;
    padding-left: 2%;
    font-size: 30px;
}

.assignment h5 {
    padding-top: 86px !important;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 36px;
    text-align: right;
    padding-right: 30%;
}


  .assignment img {
    margin-left: -50px;
}

  .card-title {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1.3rem;
    /* font-weight: 500; */
  }

  .e-fee h5 {
    font-size: 2.5rem;
    padding-left: 0px;
  }

  .e-fee .btn {
    font-size: 1.5rem;
    margin-left: 0%;
  }

  .team h5 {
    margin-top: 60%;
    font-size: 25px;
  }

  #btn-single {
    margin-bottom: 0px;
  }

    .e-fee img {
    width: 90%;
    height: 330px;
}

#price-card-button-1{
        width: 20%;
    margin-top: 23.5%;
    margin-left: 7%;
}

#price-card-button-2{
  width: 20%;
    margin-left: 42%;
    margin-top: 25.5%;
}

#price-card-button-3{
    margin-left: 75.5%;
    margin-top: 23.5%;
    width: 20%;
}


}

/*DESKTOP ENDS*/


/*ALL MEDIA QUERIES END HERE*/
